#header {
  font-family: 'Montserrat', sans-serif;
}

#title {
  font-weight: 600;
  font-style:normal;
  font-size: 30px;
  color: #6AE368;
  margin-top: 10%;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}